@import '../../sass/variables';

$size: 70px;
$line: 8px;

.pokeball-loader {
    & {
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: $white-2;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        animation: rotate 1s linear infinite;
    }

    &__center {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border: $line solid $white-1;
        background-color: $white-2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__line {
        height: $line;
        width: 110%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white-1;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
