@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

@font-face {
    font-family: 'Pokemon';
    src: url('../../res/Pokemon_Solid.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

html,
body {
    color: #000;
}

body {
    position: relative;
    background-color: lightgrey;
    font-family: 'Roboto Slab', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}
