// colors
$red-1: #d32f2f;
$red-2: #b71c1c;
$black-1: #212121;
$black-2: #3b3638;
$white-1: #fff;
$white-2: #eceff1;
$gray-1: #455a64;
$gray-2: #e0e0e0;
$gray-3: #cfd8dc;
$gray-4: #424242;
$blue-1: #0277bd;
$green-1: #00c853;

// layout
$outline-size: 20px;
$outline-pokeball-size: 10px;
